.container {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.sider {
}

.site_container {
}

.header {
  background: #fff;
}

.content {
  padding: 24px;
  min-height: 360px;
  background: #fff;
  margin: 16px 16px;
}
