.professorContainer {
  min-height: 100vh;
}

.professorSider {
  min-width: max-content;
}

.logo {
  /* height: 32px; */
  /* margin: 16px; */
  padding: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
}

.content {
  padding: 24px;
  margin: 16px 16px;
}

.scoreInputDescription {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

.commentCell {
  min-width: 200px;
}
